body {
  background-color: lightgray;
}

#search-window {
  float: right;
}

h1 {
  text-align: center;
  margin: 20px 0px;
}

.loginWrapper {
  box-sizing: border-box;
  margin: auto;
  width: 200px;
}
